<h5>Dashboard</h5>
<div class="divider"></div>
<h5>Welcome {{name}}!</h5>
<p class="lead">Here is your inventory:</p>


<h4>Batches</h4>
<div class="divider"></div>
{{#if batches}}
    <table class="striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Date Packed</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each batches}}
            <tr>
                <td><a href="/batches/{{_id}}">{{product}}</a></td>
                <td>{{ formatDate datePacked 'MMMM Do YYYY'}}</td>
                {{#hasQuartsOrPints this}}
                <td>{{quantity}} <br>Qts: {{quartsMade}}<br>Pts:{{pintsMade}}</td>
                {{else}}
                <td>{{quantity}}</td>
                {{/hasQuartsOrPints}}
                <td>
                    <a href="/batch/edit/{{_id}}" class="btn btn-float">
                        <i class="fas fa-edit"></i>
                    </a>

                    <form action="/batch/{{_id}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE" >
                        <button class="btn red" type="submit"><i class="fas fa-trash"></i></button>
                    </form>

                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
    <p>You have not created any batches yet.</p>
{{/if}}