<h3>Add a New Batch</h3>
<div class="row">
    <form action="/batch/edit/{{batch._id}}" method="POST" class="col s12">
     <input type="hidden" name="_method" value="PUT">

        <div class="row">
            <div class="input-field">
                <input type="text" id="product" name="product" data-pints="{{batch.pintsMade}}" data-quarts="{{batch.quartsMade}}" value="{{batch.product}}" readonly>
                <label for="product">Product Name</label>
            </div>
        </div>

        <div class="row" id="quantityNonLiquid">
            <div class="input-field">
                <input type="number" id="quantity" name="quantity" value="{{batch.quantity}}">
                <label for="quantity">Quantity</label>
            </div>
        </div>

         <div class="row" id="liquidFields" style="display: none;">
            <div class="input-field">
                <input type="number" id="quartsMade" name="quartsMade" value="{{batch.quartsMade}}">
                <label for="quartsMade">Quarts Made</label>
            </div>
            <div class="input-field">
                <input type="number" id="pintsMade" name="pintsMade" value="{{batch.pintsMade}}">
                <label for="pintsMade">Pints Made</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="date" id="datePacked" name="datePacked" value="{{batch.datePacked}}">
                <label for="datePacked">Date Packed</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        toggleFields();
    })

    function toggleFields() {
        const product = document.getElementById('product');
        const liquidFields = document.getElementById('liquidFields');
        const pints = product.getAttribute('data-pints');
        const quarts = product.getAttribute('data-quarts')
        const quantityNonLiquid = document.getElementById('quantityNonLiquid');

        if (pints || quarts) {
            liquidFields.style.display = 'block';
            quantityNonLiquid.style.display = 'none'
        } else {
            liquidFields.style.display = 'none';
        }
    }
</script>